<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>xcode.ico</string>
	<key>CFBundleIdentifier</key>
	<string>app.chen.LaunchBar.action.CleanDerivedData</string>
	<key>CFBundleName</key>
	<string>Clean Xcode DerivedData</string>
	<key>CFBundleVersion</key>
	<string>0.1</string>
	<key>LBAbbreviation</key>
	<string>CDD</string>
	<key>LBDebugLogEnabled</key>
	<true/>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Chen</string>
		<key>LBEmail</key>
		<string>hechen4815463@gmail.com</string>
		<key>LBSummary</key>
		<string>A LaunchBar action to clean the awesome xcode derived data.</string>
		<key>LBTwitter</key>
		<string>@OgreMergO</string>
		<key>LBWebsiteURL</key>
		<string>http://hechen.info</string>
	</dict>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBRunInBackground</key>
			<true/>
			<key>LBScriptName</key>
			<string>CleanDerivedData.scpt</string>
		</dict>
	</dict>
</dict>
</plist>
